@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    color: aliceblue;
}
nav{
    display: flex;
}
nav a{  
    background-color: royalblue;
    margin-right: 10px;
    margin-left: 10px;
    flex-basis: calc(100% / 2 - 60px);
    padding: 5px;
    border-radius: 25px;
}
html{
    background-color: black;
}
h1{
    margin-top: 50px;
}
form{
    display: flex;
    flex-wrap: wrap;
}


div{
    width: 40%;
}

.I1{
    color: black;
    background-color: white;
}