@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header{
    width: 60%;
    margin: 10px 20% 10px 20%;
    display: flex;
}

.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header a{  
    text-align: center;
    border-style: solid;
    margin-right: 10px;
    margin-left: 10px;
    flex-basis: calc(100% / 3 - 60px);
    padding: 5px;
    border-radius: 25px;
}


div{
    display: flex;
    flex-direction: column;
    align-items: center;
}