<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'relation/main_voiture.css'%}">
        <title>{% block title %} Site de voiture {% endblock %} </title>
    </head>
    <body>
        <header>
                <a href="/relation/">Home</a>
                <a href="/relation/voiture">Voiture</a>
                <a href="/relation/marque/">Marque</a>
        </header>
        <div class = "d1">
        {%block ajout%}
        <h1>ici on ajoute</h1>
        {%endblock%}
        </div>
        {% block list %}
            <h1>ici c'est la liste</h1>
        {%endblock%}
    </body>
</html>