<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'relation/main_view.css'%}">
        <title>{%block title%} Site de voiture {%endblock%} </title>
    </head>
    <body>
        <header>
                <a href="/relation/">Home</a>
                <a href="/relation/voiture">Voiture</a>
                <a href="/relation/marque/">Marque</a>
        </header>
    {%block affiche%}
    <h1>c'est ici que sera afficher les détails</h1>
    {%endblock%}
    </body>
</html>
