<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'bibliotheque/index.css'%}">

        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <nav>
            <a href="/bibliotheque/ajout">ajouter un livre</a>
            <a href="/bibliotheque/">lister les livre</a>
        </nav>
        <div class="d2">
        <form method="post" action="/bibliotheque/traitement/">
            {% csrf_token %}
            {{ form.as_p  }} <!-- permet d'afficher tous les champs sous forme d'une liste -->
            <input classe="send" type="submit" value="envoyer les données"\>
        </form>
        </div>
    </body>
</html>