<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{%static 'bibliotheque/index.css'%}">

        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <nav>
            <a href="/bibliotheque/ajout">ajouter un livre</a>
            <a href="/bibliotheque/">lister les livre</a>
        </nav>
        <form method="post" action="/bibliotheque/traitementupdate/{{livre.id}}/">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="envoyer les données"\>
        </form>
    </body>
</html>